<launch>
	<include file="$(find turtlebot_follower)/launch/includes/_velocity_smoother.launch"/>
	<node pkg="dfDrone" name="moveNode" required="true" type="moveDrone" output="screen"></node>
	<node pkg="dfDrone" name="centerNode" required="true" type="centerDrone" output="screen"></node>

	<node pkg="dfDrone" name="startNode" required="true" type="startDrone" output="screen"></node>
</launch>
